// ANIMATIONS
@keyframes zoomIn {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes goRight {
  0% {
      transform: translateX(530px);
  }

  100% {
      transform: translateX(0);
  }
}

@keyframes goLeft {
  0% {
      transform: translateX(-530px);
  }

  100% {
      transform: translateX(0);
  }
}

