// RESULTS TABLE
.results-table {
  max-width: 90rem;
  margin: auto;

  * {
    text-align: center !important;
    font-size: 1.6rem;

    @include respond(mobile) {
      font-size: 1.5rem;
    }
  }

  .total-column {
    &,
    button {
      font-weight: 700 !important;
      color: $color-blue-1 !important;
    }

    span {
      position: relative;
      z-index: 10;
    }
  }
}
